body{
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url(img/triangle-mosaic.png);
    color: black;
    font-size: 48px;
}

#wrapper{
    margin: auto;
    width: 500px;
    height: 1000px;
}

#message{
    float: left;
    width: 450px;
    height: 50px;
    font-size: 32px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: end;
}

#send{
    float: left;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#send:hover{
    cursor: pointer;
}
#chat{
    width: 500px;
    height: 950px;
    background-image: url(img/prism.png);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    -moz-box-shadow: 5px -5px 107px 32px rgba(0,0,0,0.32);
    box-shadow: 5px -5px 107px 32px rgba(0,0,0,0.32);
    /* vertical-align: bottom; */
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    scroll-behavior: smooth;
}

#chat::-webkit-scrollbar{
    display: none;
}
.log{
    float: right;
    margin: 25px;
    /* font-size: 24px; */
    min-height: 50px;
    word-break: break-all;
    width: 450px;
    text-align: right;
    bottom: 0;
    /* border: 2px solid black; */
}